[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
keras = "*"
matplotlib = "*"
numpy = "*""
pandas = "*"
requests = "*"
scikit-learn = "*"
streamlit = "*"
tensorflow = "*"
openpyxl = "*"
cryptocmd = "*"
xlsxwriter = "*"
pipreqs = "*"

[dev-packages]

[requires]
python_version = "3.11"
